@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-1: #272727;
    --color-2: #747474;
    --color-3: #FF652F;
    --color-4: #FFE400;
    --color-5: #14A76C;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
  }
  
.description-box{
    text-align: center;
  }
  
.description-box p{
    font-size: 18px;
}
  

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #ffffff;
    user-select: none;
}

.logo-image{
    width: 10%;
    height: 10%;
    border: none;
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--color-5) ;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--color-5);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnRegister-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--color-5) ;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--color-5);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: var(--color-5);
    color: #162938;
}

.description-box{
    color: var(--color-1);
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

.button{
    align-items: center;
    justify-content: center;
}
